@import url("http://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    box-sizing: border-box;
    font-family: Muli, 'Calibri';
}

body{
    background: rgb(2,0,36);
background: linear-gradient(54deg, rgba(2,0,36,1) 0%, rgba(77,61,128,1) 0%, rgba(28,117,184,1) 41%, rgba(0,255,145,1) 98%) no-repeat;
    object-fit: contain;
    height: 100vh;
    
}

.header-nav{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header-nav h1{
    font-size: 25px;
    color: #FEBE10;
    margin-left: 10px;
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.signup-container, .forgetpassword-container{
    margin-top: 100px;
    width: 30%;
    height: auto;
    margin: 40px auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5)
}

.reset-container{
    width: 30%;
    height: auto;
    margin: 40px auto;
    padding: 2%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5)
}

.reset-container input{
    width: 80%;
    margin: 1%;
}
.signup-container h3, .login-container h3, .reset-container h3{
    align-items: center;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    margin-top: 10%;
    color: rgb(29, 207, 130);
}

.container-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 40px auto;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 34%;
}
.form-control {
    height: auto;
    
    justify-content: space-around;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-head h2 {
    background-color: #FEBE10;
    margin: 0 2px;
    padding: 10px;
    font-size: 18px;
    height: auto;
    width: auto;
    border-radius: 5px;
    display: inherit;
    
}
.form-control div, .box div, .forgetpassword-container{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
}

.form-control input, .box input, .forgetpassword-container input{
    margin-top: 10px;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgba(0,255,145,1);
    background-color: inherit;
    color: rgba(0,255,145,1);
    font-family: inherit;
}

.form-control label, .box label, .forgetpassword-container label{
    font-size: 16px;
    color: rgb(29, 207, 130)
}

.btn {
    text-align: center;
    width: 50%;
    height: 2.5rem;
    margin: 5% 25%;
    justify-content: center;
    align-items: center;
    display : inline-block;
    background-color: rgb(29, 207, 130);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

.btn:active, .btn:hover {
    background-color: #922065;
    color: #FEBE10;
    border: 2px solid #F25922;
    background-position: 99% 50%;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}
.existing-user{
    margin: 0 auto;
    color: rgb(29, 207, 130);
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.login-btn{
    text-decoration: none;
    background-color: #FEBE10;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px;
    font-family: inherit;
    color: #051937;
    border-radius: 5px;
    transition: 0.4s;
    border: transparent;
    
}

.login-btn:active, .login-btn:hover {
    background-color: #922065;
    color: #FEBE10;
    border: 2px solid #F25922;
    background-position: 99% 50%;
    cursor: pointer;
    
}

.media {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
li {
    text-decoration: none;
    list-style: none;
}
.fa {
    padding: 15px;
    margin: 0 2px;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid #FEBE10;
    border-radius: 50%;
}
.fa-play{
    margin-top: 20px;
}
.fa-facebook, .fa-twitter, .fa-google {
    
    background-color: #FEBE10;
    color: #051937;

}

.fa:active, .fa:hover{
    background-color: inherit;
    color: #FEBE10;
    
}

.notification-container {
    background-color: #FEBE10;
    color: #051937;
    padding: 0.5rem;
    width: auto;
    margin: 0;
    position: fixed;
    top: 15px;
    right: 10px;
    display: none;
    font-family: inherit;
    font-size: 14px;
    border-radius: 5px;
}


.login-container{
    
    width: 30%;
    height: 68vh;
    margin: 40px auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5)
}

.login-container.container-head h2{
    display: inherit;
}

.expense-container{
    
    width: 32%;
    height: auto;
    margin-left: 5%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5)
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
}

.tracker-container{
    
    width: 45%;
    height: auto;
    margin-right: 5%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

}

.full-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 2% auto;
    
}

select{
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(29, 207, 130);
    font-size: 15px;
    font-family: inherit;
    height: 30px;
    padding: 0 5px;
    appearance: none;
    outline: 0;
    overflow: hidden;

}

option{
    background: #FEBE10;
    color: #051937;
    line-height: 3;
    font-weight: bolder;
}

.tracker-container h2, .dashboard-container h2, .monthly-report h2, .reports h2, .yearly-report h2{
    color: #051937;
    background-color: #FEBE10;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 5px 5px 0 0;
}

.dashboard-container h2{
    font-size: 20px;
}

.expense-list, .user-list{
    display: flex;
    flex-direction: column;
    width: 98%;
    list-style: none;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: relative;
    left: -4%;

}
.expense-item, .income-item{
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    border: 2px solid #051937;
    background-color: rgba(0,255,145,0.5);
    border-radius: 5px;
    padding: 5px;
}

.expense-item{
    background-color: rgba(137, 230, 17, 0.61);   
}
.month-year{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 2%;
    width: 98%;
    position: absolute;
    top:15%;
}

.month-year label{
    font-size: 15px;
    color: #FEBE10;
    margin: 1%;
    width: 35%;
}

#month, #year{
    width:auto;
    margin: 1%;
    padding: 1%;

}

.month-year .btn{
    width: auto;
    margin: 1%;
    height: auto;
    }
.month-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    }
.expense-list-header, .dashboard-header, .monthly-header, .yearly-header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    color: #FEBE10;
    border-bottom: 2px solid rgb(29, 207, 130);
    font-size: 16px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: #051937;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5%;
    text-align: left;
}
.details .type{
    width: 10%;
    
}
.details .category{
    width: 15%;
    
}
.details .amount{
    width: 5%;
    text-align: right;
}
.details .description{
    width: 20%;
}
.details .button{
    width: 1%;
}
.del-btn{
    background-color: inherit;
    border: none;
    width: 10%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30%;
}
.fa-trash{
    font-size: 18px;
    margin: 2px;
    padding: 2px;
    color: #051937;
    font-weight: bolder;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.fa-trash:hover{
    color: red;
}

.expense-list p {
    color: #FEBE10;
    font-size: 18px;
}

#rzp-button, #premium-btn{
    background: linear-gradient(36deg, rgba(146,32,101,1) 0%, rgba(241,124,82,1) 100%);
    color: #301023;
    width: 35%;
    height: auto;
    cursor: pointer; 
    font-size: 14px;
    font-weight: bold;
    padding: 2% 2%;
    border-radius: 10px;
    margin: 2% auto;
    border: 2px solid indianred;
    transition: 0.3s;
}

#rzp-button:hover, #premium-btn:hover{
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    background: inherit;
    color: #FEBE10;
    background-position: 99% 50%;
    border: 3px solid #FEBE10;
    

}

#premium-btn {
    display: none;
    margin: 2% auto;
    width: auto;
}

.header-nav h4{
    background-color: #FEBE10;
    color: #051937;
    font-size: 13px;
    font-weight: bold;
    margin-left: 1%;
    padding: 0.5%;
    height: auto;
    align-items: center;
}

.success-card, .failure-card{
    width: 20%;
    height: 25%;
    background-color: rgba(236, 222, 24, 0.685);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 30% auto;
    padding: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.success-card h2{
    color: rgb(11, 75, 6);
    font-size: 28px;

}

.failure-card h2{
    color: red;
    font-size: 28px;
}

.success-card p, .failure-card p{
    color: #051937;
    font-weight: bold;
    font-size: 16px;
}

#signout{
    background-color: #f17c52;
    width: auto;
    color: #66204a;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    margin-right: 2%;
    border: 2px solid transparent;
    position: absolute;
    right: 2%;
    top: 5%;
    transition: 0.4s;
}
#download, #back{   
    background-color: #f17c52;
    color: #66204a;
    font-weight: bolder;
    border-radius: 5px; 
    padding: 10px;
    margin-right: 2%;
    border: none;
    width: auto;
    

}
#signout:hover, #download:hover, #back:hover{
    background-color: inherit;
    color: #66204a;
    border: 2px solid #F25922;
    cursor: pointer;
}
.dashboard-container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 80vh;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left: 2%;
    padding: 2%;
}

.user-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    margin: 1% 1%;
    color: #051937;
    background-color: rgba(0,255,145,0.7);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #051937;

}
.forgot-btn {
    text-decoration: none;
    color: #FEBE10;
    background: none;
    border: none;
    width: auto;
    position: relative;
    left: 2%;
    cursor: pointer;
    margin: 0;
}
.forgetpassword-container{
    margin: 5% auto;
    display: none;
    width: 30%;
    padding: 5%;
    height: auto;
    flex-direction: column;

}

.inner-container{
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 20% 0;
    padding: 1%;
    width: 95%;
}

.inner-container input{
    width: 100%;
}

.forgetpassword-container button{
    width: 100%;
    margin: 2%;
}

.monthly-report{
    width: 115%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.yearly-report{
    width: 115%;
    height: 40%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.yearly-report .monthly-header{
    justify-content: flex-start;
    top: 20%;
}
.monthly-header{
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    font-size: 14px;
}
.report-container{
    width: 30%;
}
.reports{

    width: 20%;
    height: 90%;
    margin-right: 3%;
    margin-left: 3%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}
.reports h2{
    font-size: 16px;
}

.reports li{
    margin: 3% auto;
}
.reports a{
    text-decoration: underline;
    color: #FEBE10;
    
}


#pagination{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    left: 45%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
}

.currentPage{
    font-size: 16px;
    font-family: inherit;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    margin: 1%;
    background: none;
    color: rgba(137, 230, 17, 0.61);
    border: none;
    border-bottom: 2px solid rgba(236, 222, 24, 0.685);
    border-radius: 2px;
    text-align: center;
    align-items: center;
}

.FirstPage, .NextPage, .PreviousPage, .lastPage{
    font-size: 10px;
    height: 3px;
    width: auto;
    margin:1%;
    font-family: inherit;
    font-weight: bold;
    background: none;
    color: rgba(137, 230, 17, 0.61);
    border-radius: 2px;
    border: none;
    text-align: center;
    align-items: center;
}
.page-btn:hover {
    background: rgba(0,255,145,0.5);
    color: rgb(2,0,36);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

/* Circular progress bar */
.overall-progress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: auto;
    margin-top: 12%;
    margin-left: 2%;
}
.progress-container{
    margin: 2%;
    padding: 2%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 5rem;
    --fg: rgba(0,255,145,0.7);
    --bg: rgba(31, 29, 29, 0.555);
    --fc: #FEBE10;
    --pgPercentage: var(--value);
    animation: growProgressBar 2s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, rgb(51, 50, 50) 80%, transparent 0 99.9%, rgb(51, 50, 50) 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: inherit;
    font-size: calc(var(--size) / 5);
    color: var(--fc);
    
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';

  }
  .progress-container h4{
    background:rgba(0,255,145,0.5);
    color: #051937;
    border: none;
    text-align: center;
    padding: 6%;
    font-weight: bold;
}
.progress-container span{
    color:#ebe712;
    border: none;
    text-align: center;
    margin-top: 3%;
    padding: 3%;
    font-size: 20px;
    font-weight: 120%;
}
.yearly-header{
    position: absolute;
    top:20%;
    left: 5%;
}
.yearly-expense-list{
    list-style: none;
    position: absolute;
    left: -5%;
    top: 35%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.yearly-expense-list .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    
    
}

.yearly-expense-list .details .year {
    width: 15%;
}

.yearly-expense-list .details .income{
    width: 20%;
}
.yearly-expense-list .details .expense{
    width: 25%;
}
.yearly-expense-list .details .savings{
    width: 10%;
} 

.limit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2%;
}
.limit input{
    width: 15%;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(29, 207, 130);
    border: none;
    font-weight: bolder;
}

.limit label{
    color:#FEBE10;
    margin-right: 1%;
}

.set-btn{
    background:rgb(29, 207, 130);
    color: #051937;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 1%;
}

.set-btn:hover{
    background: #FEBE10;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 1%;
    right:1%;
    width: 40%;
}

/* For Mobile Phones */
@media only screen and (max-width: 768px) {
    body{
        height: 100%;
    }
    .header-nav{
        width: 100%;
        height: 30px;
    }
    .header-nav h1{
        font-size: 18px;
        letter-spacing: 1px;
    }

    .signup-container, .login-container, .reset-container{
        width: 80%;
        margin-top: 14%;
        position: relative;
    }
    .container-head{
        width: 80%;
        position: absolute;
        top: -16%;
        left: 0%;
    }
    .container-head h2{
        font-size: 14px;
        margin-left: 0;
        position: absolute;
        left: 0;
        top: 5%;
    }
    .media{
        position: absolute;
        right: 2%;
        top: 0%;
    }
    .form-control {
        font-size: 11px;
    }
    .login-btn {
        font-size: 14px;
        margin-bottom: 2%;
    }
    #signout{
        font-size: 14px;
        padding: 1%;
        margin-top: 1%;
    }
    
    .full-container{
        flex-direction: column;
        position: relative;
    }
    .expense-container {
        width: 80%;
        height: auto;
        margin: 10% auto;
    }

    .tracker-container{
        width: 95%;
        margin: 5% auto;
        position: relative;
    }

    #rzp-button, #premium-btn {
        width: auto;
        height: auto;
        padding: 2% 5%;
        margin: 2% auto;
        
    }

    .tracker-container h2 {
        font-size: 20px;
        padding: 1% 2%;
        border-radius: 5px 5px 0 0;
    }
    .expense-list-header{
        font-size: 14px;
        width: 95%;
        
    }
    .income-item, .expense-item{
        width: 100%;
        margin-top: 1%;
    }

    .details{
        font-size: 12px;
        
    }
    .limit{
        font-size: 13px;
    }
    #pagination{
        position: absolute;
        bottom: -10%;
        margin: 2% auto;
    }

    .btn{
        height: auto;
        padding: 2%;
    }
    .dashboard-container{
        width: 90%;
        height: auto;
        margin: 10% auto;
    }
    .dashboard-container h2, .report-container h2{
        font-size: 16px;
        
        
    }
    #download{
        right: 45%;
        padding: 1%;
        top: 6%;
    }
    .report-container{
        width: 98%;
        height: auto;
    }
    .monthly-report{
        width: 95%;
        height: auto;
        margin: 2% auto;
    }
    .month-year{
        width: 95%;
        font-size: 12px;
        margin: 1% auto;
    }
    .month-container{
        margin-right: 4%;
    }

    .overall-progress{
        margin-top: 20%;
        font-size: 14px;
    }

    .progress-container span{
        font-size: 16px;
        margin-top: 5%;
    }

    div[role="progressbar"] {
        --size: 4.5rem;
    }

    .yearly-report{
        width: 95%;
        height: 40%;
        margin: 10% auto;
    }
    .yearly-header{
        margin-top: 8%;
        width: 95%;
    }
    .yearly-expense-list{
        margin-top: 18%;
        width: 95%;
    }

    .reports {
        margin-top: 35%;
        margin-bottom: 10%;
        width: 95%;
    }

    .buttons{
        margin-top: 2%;
        margin-bottom: 2%;
    }
}